@charset "utf-8";
@import url('../fonts/fonts/fonts.css');
@import url('../fonts/font-awesome/css/font-awesome.min.css');

body { font-family: 'Montserrat'; font-weight: 300; font-style: normal; margin: 0; font-size: 14px; color: #383b40;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat'; font-weight: normal }


.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus, a:focus { outline: none }
a { color: #000; }
.link{text-decoration: underline;}
a:focus, a:hover { text-decoration: none; color: #666 }
input:focus { outline: none }
textarea { resize:none;}

strong, b { font-weight: 600 }
label { font-weight: normal; display: inline-block }
.pn{padding:0 !important;}
.ml25{margin-left:25px; !important;}
ul { padding: 0 ;margin:0;}


h1 span{border-bottom: 1px solid #666;}
h1{margin-bottom: 35px;}